<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.crm.mapper.CustomerMapper" >
	<select id="getCustomerList" parameterType="CustomerInfo" resultType="Customer">
		SELECT 
			c.cust_id,
			c.cust_name,
			c.cust_user_id,
			c.cust_create_id,
			b1.dict_item_name cust_source,
			b2.dict_item_name cust_industry,
			b3.dict_item_name cust_level,
			c.cust_linkman,
			c.cust_phone,
			c.cust_mobile,
			c.cust_zipcode,
			c.cust_address,
			c.cust_createtime
			FROM customer c 
			LEFT JOIN base_dict b1 ON c.cust_source = b1.dict_id
			LEFT JOIN base_dict b2 ON c.cust_industry = b2.dict_id
			LEFT JOIN base_dict b3 ON c.cust_level = b3.dict_id
			<where>
				<if test="custName != null and custName != ''">
			  		AND c.cust_name LIKE '%${custName}%'
				</if>
				<if test="custSource != null and custSource != ''">
			  		AND c.cust_source = #{custSource} 
				</if>
				<if test="custIndustry != null and custIndustry != ''">
			  		AND c.cust_industry = #{custIndustry}
				</if>
				<if test="custLevel != null and custLevel != ''">
			  		AND c.cust_level = #{custLevel}
				</if>
			</where> 
			LIMIT #{startIndex},#{pageSize}
	</select> 
	<select id="getTotalForPage" parameterType="CustomerInfo" resultType="int">
		SELECT count(*)FROM customer 
			<where>
				<if test="custName != null and custName != ''">
			  		AND cust_name LIKE '%${custName}%'
				</if>
				<if test="custSource != null and custSource != ''">
			  		AND cust_source = #{custSource} 
				</if>
				<if test="custIndustry != null and custIndustry != ''">
			  		AND cust_industry = #{custIndustry}
				</if>
				<if test="custLevel != null and custLevel != ''">
			  		AND cust_level = #{custLevel}
				</if>
			</where> 
	</select>
	<select id="getCustomerById" parameterType="long" resultType="Customer">
		SELECT * from customer where cust_id = #{id}
	</select>
	<update id="customerUpdate" parameterType="customer">
		update customer
		<set>
			<if test="cust_name!=null and cust_name!=''">
				cust_name=#{cust_name},
			</if>
			<if test="cust_user_id!=null and cust_user_id!=''">
				cust_user_id=#{cust_user_id},
			</if>
			<if test="cust_create_id!=null and cust_create_id!=''">
				cust_create_id=#{cust_create_id},
			</if>
			<if test="cust_source!=null and cust_source!=''">
				cust_source=#{cust_source},
			</if>
			<if test="cust_industry!=null and cust_industry!=''">
				cust_industry=#{cust_industry},
			</if>
			<if test="cust_level!=null and cust_level!=''">
				cust_level=#{cust_level},
			</if>
			<if test="cust_linkman!=null and cust_linkman!=''">
				cust_linkman=#{cust_linkman},
			</if>
			<if test="cust_phone!=null and cust_phone!=''">
				cust_phone=#{cust_phone},
			</if>
			<if test="cust_mobile!=null and cust_mobile!=''">
				cust_mobile=#{cust_mobile},
			</if>
			<if test="cust_zipcode!=null and cust_zipcode!=''">
				cust_zipcode=#{cust_zipcode},
			</if>
			<if test="cust_address!=null and cust_address!=''">
				cust_address=#{cust_address},
			</if>
			<if test="cust_createtime!=null and cust_createtime!=''">
				cust_createtime=#{cust_createtime}
			</if>
		</set>
		where cust_id=#{cust_id}
	</update>
	<delete id="customerDelete" parameterType="long">
		DELETE from customer where cust_id = #{id}
	</delete>
</mapper>